<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tre restauranter i gjøvik</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>
  
  <nav>
    <h1>Restauranter i gjøvik</h1>
    {% if not rid %}
    <form action="{{ url_for('logg_inn') }}" method="get">
      <input type="submit" value="Logg inn som eier">
    </form>
    {% endif %}
  </nav>
  {% block content %}
  
  {% endblock %}

</body>
</html>