{% extends 'base.html' %}

{% block content %}

<h2>Ordre for: {{navn}}</h2>

<ul>
{% for order in ordre %}
  {% for rett in meny %}
    {% if (order.rett_id|string == rett.id|string) %}
      <li>
        <p>{{rett.rett}}: {{order.antall}}</p>
        <p>pris: {{rett.pris * order.antall}} kr</p>
      </li>
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
<br>
<p>Frakt: 50 kr </p>
<p>Total pris: {{pris}} kr</p>
<p>Handelen ble gjort {{tid}}</p>
<p>Levering tar omtrent 3 dager</p>
<p>Forventet levering: {{levering}}</p>

<form action="{{ url_for('bestill', rid=meny.0.rid) }}" method="post">
  <input type="submit" value="Bekreft og betal">
</form>

{% endblock %}