{% extends 'base.html' %}

{% block content %}

<h2>Velkommen {{navn}}!</h2>
<h3>Meny for din restaurant: {{restaurant.1}}</h3>
<div>
  <form action="{{ url_for('legg_til_ny_rett', rid=restaurant.0, navn=navn) }}" method="get">
    <input type="submit" value="Legg til ny rett">
  </form>
</div>

<ul>
{% for rett in meny %}
  <li>
    <div>
      <h4>{{rett.rett}}</h4>
      <img class="meny-bilde" src="http://127.0.0.1:5010/get_image/{{rett.bilde}}" alt="bilde av {{rett.rett}}">
      <p>{{rett.beskrivelse}}</p>
      <p>{{rett.pris}} kr</p>
    </div>
    <div>
      <form action="{{ url_for('rediger_rett', rett_id=rett.id, rid=restaurant.0, navn=navn) }}" method="get">
        <input type="submit" value="Endre rett">
      </form>
      <form action="{{ url_for('fjern_rett', rett_id=rett.id, rid=restaurant.0, navn=navn) }}" method="post">
        <input type="submit" value="Fjern rett">
      </form>
    </div>
  </li>
{% endfor %}
</ul>

{% endblock %}