{% extends 'base.html' %}

{% block content %}

<form action="http://127.0.0.1:5010/post_ny_rett/{{rid}}/{{navn}}" method="post" enctype="multipart/form-data">
  <label for="tekst">Navn på rett</label>
  <input type="text" id="tekst" name="tekst" placeholder="rett..." required>

  <label for="image">Bilde av rett</label>
  <input type="file" name="image" required>

  <label for="beskrivelse">Beskrivelse av rett</label>
  <input type="text" id="beskrivelse" name="beskrivelse" placeholder="Beskrivelse..." required>
  
  <label for="pris">Pris på rett</label>
  <input type="text" id="pris" name="pris" placeholder="Pris..." required>
  <input type="submit" value="Send inn">
</form>

{% endblock %}